.login-container {
    .user-record {
        margin: auto;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .txtLogin {
            text-align: center;
            font-weight: bolder;
            font-size: 32px;
            margin: 10px 0 0;
        }
    }
}
